:root {
	--black: #000;
	--level-1: #181823;
	--white: #fff;
	--purple: #5221e6;
	--light-grey: #8491a0;
	--dark-grey: #5b6876;
	--green-accent: #3cc74e;
	--blue-accent: #609bff;
	--pink-accent: #e95d90;
	--peach-accent: #fff3e4;
	--violet-accent: #fbe4ff;

	--font-family: "Sen", sans-serif;
}